/* flipcard.css */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-bottom: 5px; /* Отступ снизу для карточек */
  perspective: 1000px;
  margin: 0 auto; /* Центрирование карточки */
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.flip-card-front {
  background-color: #23232b;
  color: white;
}
.flip-card-back {
  background-color: #D32F2F;
  color: white;
  transform: rotateY(180deg);
}
