.wrapper {
  width: 100%;
  padding: 0 0 24px 0;
  background: none;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 32px;
  color: #fff;
}
.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 300px;
  margin-bottom: 12px;
}
.image {
  object-fit: contain;
}

:global(.carbonBg) { /* Специфичность для предотвращения перекрытия */
  background: repeating-linear-gradient(135deg, rgba(35, 35, 35, 0.9) 0 8px, rgba(24, 24, 24, 0.9) 8px 16px);
  background-size: 20px 20px; /* Размер текстуры */
  background-color: #23232b;
  background-size: 20px 20px; /* Размер текстуры */
  background-size: cover;
}

.trackReverse {
  display: flex;
  width: fit-content;
  animation: scrollReverse 20s linear infinite;
}

@keyframes scrollReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.track {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
}
.logo {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column; /* Чтобы элементы шли сверху вниз */
  align-items: center; /* Центровка по горизонтали */
  justify-content: center;
  padding: 0 12px;
  background: transparent;
  text-align: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
