.wrapper {
  width: 100%;
  padding: 0 0 12px 0;
  background: none;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 32px;
  color: #fff;
}
.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 250px;
  margin-bottom: 2px;
}
.image {
  object-fit: contain;
}


.trackReverse {
  display: flex;
  width: fit-content;
  animation: scrollReverse 60s linear infinite;
}

@keyframes scrollReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.track {
  display: flex;
  width: fit-content;
  animation: scroll 60s linear infinite;
}
.logo {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  background: transparent;
  text-align: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
