.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  overflow: hidden;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 16px 0;
  padding: 16px 0 0 0;
  color: #fff;
}
.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 140px;
  margin: 0;
  padding: 10px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}


.image {
  object-fit: contain;
}


.trackReverse {
  display: flex;
  width: fit-content;
  animation: scrollReverse 60s linear infinite;
}

@keyframes scrollReverse {
  from {transform:translateX(0);}
  to {transform:translateX(-50%);}
}
.track {
  display: flex;
  width: fit-content;
  animation: scroll 60s linear infinite;
}
.logo {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  background: transparent;
  text-align: center;
  flex-shrink: 0;
}
@keyframes scroll {
  from {transform:translateX(-50%);}
  to {transform:translateX(0);}
}
